<div>
  <label>n:</label><input type="number" [(ngModel)]="n"/>
</div>
<div>
  <label>m:</label><input type="number" [(ngModel)]="m"/>
</div>
<div>
  <button (click)="onClick()">Gen</button>
</div>
<table>
        <tr *ngFor="let row of nRange">
          <td *ngFor="let col of mRange">
            <input type="number" [(ngModel)]="matrix[row][col]"/>
          </td>
        </tr>
</table>
<hr/>
<div>
  <button (click)="solve()">Solve</button>
</div>
<hr/>
<table>
  <tr>
    <th>N</th>
    <th *ngFor="let F of mRange" colspan="2">
      F{{F+1}}
    </th>
  </tr>
  <tr>
    <th>
    </th>
    <ng-container *ngFor="let F of mRange">
      <th>
        Xi
      </th>
      <th>
        X<sub>i,{{F+1}}</sub><sup>2</sup>
      </th>
    </ng-container>
  </tr>
  <tr *ngFor="let row of nRange">
    <td>{{row}}</td>
    <ng-container *ngFor="let col of mRange">
      <td>
        {{matrix[row][col]}}
      </td>
      <td>
        {{matrix2[row][col]}}
      </td>
    </ng-container>
  </tr>
  <tr>
    <td>
      ~X
    </td>
    <ng-container *ngFor="let col of mRange">
      <td>
        {{xx[col]}}
      </td>
      <td>
      </td>
    </ng-container>
  </tr>
  <tr>
    <td>
      Sum(X)
    </td>
    <ng-container *ngFor="let col of mRange">
      <td>
        {{xs[col]}}
      </td>
      <td>
      </td>
    </ng-container>
  </tr>
  <tr>
    <td>
      Sum(X<sup>2</sup>)
    </td>
    <ng-container *ngFor="let col of mRange">
      <td>
      </td>
      <td>
        {{xs2[col]}}
      </td>
    </ng-container>
  </tr>
</table>
<p>
  SS<sub>1</sub>={{ss1}}
</p>
<p>
  SS<sub>2</sub>={{ss2}}
</p>
<p>
  Df={{df}}, k<sub>1</sub>={{k1}}
</p>
<p>
  Ds={{ds}}, k<sub>2</sub>={{k2}}
</p>
<p>
  F={{f}}
</p>